torch
scikit_learn
pandas
numpy
matplotlib
tensorboardX
rouge_score
transformers
spicy
tensorboard
git+https://github.com/huggingface/peft
wandb
bitsandbytes
accelerate
einops
wrapt
astunparse
click
opt_einsum
termcolor
tensorflow
joblib
openpyxl
pyarrow
datasets
trl
rouge